services:
  - type: static
    name: eventpro-frontend
    rootDir: Frontend
    buildCommand: npm ci && npm run build
    staticPublishPath: out
    autoDeploy: true
    envVars:
      - key: NODE_ENV
        value: production
      - key: NEXT_PUBLIC_API_URL
        sync: false
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
